#container{
	width: 510px;
	height: 500px;
	background-color: #7cbfb7;
	margin: auto;
}
#logout{
	float: right;
}
#logout input{
	margin-top: 15px;
    margin-right: 10px;
}
#chatbox{
	width: 490px;
	height: 400px;
	background-color: white;
	margin: auto;
	position: relative;
	top: 15px;
	clear: both;
}
#message input[type=text]{
	width: 300px;
	margin-top: 45px;
}
p{
	padding-left: 10px;
	border-bottom: solid black 1px;
	margin-top: -15px;
}
p:first-child{
	padding-top: 20px;
}